# Project Setting
BEINBOUT_AI_CALL_KEY="" # "RANDOM STRING"
SERVICE_MODE="development" # "development" | "production"

# PostgreSQL PGVector
DATABASE_URL=""

# Azure Foundry AI Service
AZURE_AI_KEY_CREDENTIALS=""
AZURE_AI_ENDPOINT=""
AZURE_AI_API_VERSION=""

AZURE_AI_EMBEDDING_MODEL_NAME=""
AZURE_AI_EMBEDDING_DEPLOYMENT=""

AZURE_AI_LLM_MODEL_NAME=""
AZURE_AI_LLM_DEPLOYMENT=""